body{
  background:url('../img/purty_wood_@2X.png');
}
.wrapper {
       width: 90%;
       margin: auto;
       text-align: center;
}

.iphone #mobile-preview-inner {
     height: 538px;
     width:324px;
     background-color:white;
     margin: auto;
     overflow: hidden;
     position: relative;
     left:0px;
}
#mobile-preview-outer {
       display: inline-block;
       margin: auto;
       margin-top: 10px;
     position: relative;
     overflow: hidden;
}
.iphone{
       background:url('../img/iphone.png') no-repeat;
       background-size: 347px 700px;
        padding: 88px 12px 70px 12px;
        -webkit-box-shadow: 0px 0px 6px black;
        border-radius: 60px;
}

#options-window {
       height: 50px;
       width: 100%;
       border-radius: 5px;
       position: fixed;
       top: 0px;
       left:25px;
       
       font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
       font-size:25px;
       color:rgba(0,0,0,0.5);
       line-height: 30px;
}
#options-window h2 {
       text-align: left;
       
}
#options-window h1{
       font-size:30px;
       color:rgba(0,0,0,0.5);
       line-height: 40px; 
}

#url-input {
       height: 30px;
       width:300px;
       margin-top: 10px;
       float:left;
}

body {
       background-color:rgba(0,0,0,0.1);
}

#input-submit {
       height: 30px;
       width:60px;
       background-color:rgba(0,0,0,0.25);
       border:1px solid rgba(0,0,0,0.25);
       color:white;
       border-radius:2.5px;
       margin: auto;
       margin-top: 10px;
       font-size:20px;
       padding-top: 4px;
       line-height: 20px;
       cursor: pointer;
       float:left;
}
#input-submit:hover{
       background-color:rgba(0,0,0,0.1);
}

#mp-iframe {
}
#btn-iphone{
    height: 51px;
    width: 28px;
    background-color: red;
    float: right;
    margin-right: 25px;
    margin-top:25px;
    background: url('../img/phone_icon.png') no-repeat;
    background-size:28px 51px;
}
#btn-ipad{
    height: 50px;
    width: 38px;
    background-color: blue;
    float: right;
    margin-right: 25px;
    margin-top:25px;
    background: url('../img/tablet_icon.png') no-repeat;
    background-size:38px 50px;
}
#btn-rotate{
    height: 28px;
    width: 26px;
    background-color: yellow;
    float: right;
    margin-right: 200px;
    margin-top:35px;
    background: url('../img/rotate_icon.png') no-repeat center;
    background-size:26px 28px;
}
